div, nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    flex-wrap: wrap;
}

@media (max-width: 770px) {
    nav {
        padding: 0 2rem;
    }
}

img {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo-xtalento {
    height: 100px;
        width: 300px;

    }

.logo-once {
    height: 100px;
    width: 300px;
}

nav>ul {
    display: flex;
    gap: 3rem;
}

nav button {
    background: none;
    border: none;
    color: inherit;
    transform: scale(1.5);
}

nav a {
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav a:hover {
    color: var(--highlight);
}
